@import "tailwindcss";

:root {
  background: #000;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #000;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.glossy-reflection {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.03) 0%,
    transparent 45%,
    rgba(255, 255, 255, 0.01) 100%
  );
  pointer-events: none;
}
